* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    background:
        linear-gradient(45deg, rgba(0, 0, 0, 1) 40%, rgb(51, 54, 53) 49%, rgba(0, 0, 0, 1) 62%);
        margin: 0 50px;
      
       

}

h1{
    font-size: 50px;
    text-align: center;
    margin: 20px 0;

}

a{
    text-decoration: none;
    margin: 20px 0;
    padding: 5px;
    border-radius: 10px;
}

a:hover{
    background: #ffffff;
    color: #000000;
    transition: 0.5s;
}




.caixa-certificados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
  
}

.certificados {
    list-style: none;
  
}

.img-certificado {
    padding: 2px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 90%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 992px){

    
    .certificados{
        width:100%;
    }
}

@media (max-width: 768px){
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 480px){
    h1 {
        font-size: 20px;
    }

}

