@media(max-width:768px){
    .section1{
        height: 60vh;
    }

    .section-sobre-mim
    {
        height: 50vh;
    }

    .section-portifolio{
        height: 60vh;
    }

    .section-stack{
        height: 50vh;
    }

    .section-cursos-certificados{
        height: 70vh;
    }

    .img-certificado {
        width: 40vw;
        height: 35vh;
    }

    footer{
    
        height: 50vh;
    
    }

    


}

@media(max-width:390px){

}
