 @media(max-width:1900px) {

    main {
        margin: 0 100px;
    }

    section {
        height: 90vh;
    }

    .header-links {
        right: 20%;
    }

    .p-frontEnd,
    .p-stack {
        font-size: 20px;
    }

    .nome-wesley {
        font-size: 60px;
        line-height: 50px;
    }

    .p-texto-esquerdo,
    .p-sobre-mim {
        font-size: 20px;
    }

    .btn-contato,
    .btn-curriculo {
        width: 250px;
        margin: 50px 10px;
    }

    .caixa-direita {
        width: 50%;
        height: 50vh;
        margin: 50px 0 0 50px;

    }

    .foto-principal {
        width: 30vw;
        height: 50vh;

    }

    .section-sobre-mim {

        height: 90vh;

    }

    .foto-sobre-mim {
        width: 400px;
        height: 400px;
    }

    .p-sobre-mim,
    .p-texto-sobre-mim {
        font-size: 20px;
        margin-left: 100px;
    }

    .h2-sobre-mim {
        font-size: 50px;
        line-height: 50px;
        margin-left: 100px;
    }


    .p-texto-sobre-mim {
        font-size: 20px;
        margin-left: 100px;
        width: auto;
    }



    .ul-sobre-mim {
        width: auto;
        margin-left: 100px;
        font-size: 20px;
    }

    .li-sobre-mim {
        font-size: 15px;
        padding: 5px;
    }

    .h2-stack {
        font-size: 50px;
    }

    .meus-stacks {
        width: 350px;
    }

    .stack {
        width: 250px;
        font-size: 20px;
    }

    .section-portifolio {
        height: 100vh;
    }



    .p-portifolio {
        font-size: 20px;
    }

    .h2-portifolio {
        font-size: 50px;
        line-height: 50px;
        margin: 15px 0;
    }


    .projeto {
        margin: 10px;
        width: 300px;
        height: auto;
        padding: 5px;
        align-items: center;
    }

    .p-projeto,
    .h2-projeto,
    .p-texto-projeto {
        font-size: 14px;
        margin: 5px 0;

    }

    .a-projeto {
        padding: 2px 5px;
    }

    #a-projeto1 {
        margin: 0 0 0 30px;
    }


    .section-cursos-certificados {
        height: 100vh;
    }

    .p-certificado {
        font-size: 20px;
    }

    .h2-certificado {
        font-size: 50px;
        line-height: 50px;
    }

    .a-certificado {
        font-size: 20px;
    }

    .img-certificado {
        width: 40vw;
    }

    footer {

        font-size: 20px;
        height: 60vh;
    }

    .p-footer {
        width: 500px;
    }

    .email-diretoWhatsApp {
        right: 5px;
    }

    .links-redes-sociais {
        justify-content: center;
        align-items: center;
    }


}

@media(max-width:1300px)  {

    .btn-contato,
    .btn-curriculo {
        width: 150px;
    }

    .foto-sobre-mim {
        width: 300px;
        height: 350px;
    }

    .ul-sobre-mim {
        margin: 0 10px;

    }

    .li-sobre-mim {
        font-size: 12px;
    }

    .stack {
        width: auto;
        font-size: 12px;
    }
}

@media(max-width:980px) {

    
    section,.section-sobre-mim,
    .section-portifolio,.section-cursos-certificados{
        height: auto;
    }
    
    .section-sobre-mim{
        margin-bottom: 50px;
    }
    
    .foto-principal{
        height: 30vh;
    }

    .btn-contato,
    .btn-curriculo {
        display: block;
        margin: 15px 0;
        width: 250px;
    }

    
    .li-sobre-mim {
        font-size: auto;
        width: auto;
        height: auto;
    }

    .p-sobre-mim,
    .p-texto-sobre-mim {
        font-size: 14px;
        margin-left: 50px;
    }

    .h2-sobre-mim {
        font-size: 30px;
        line-height: 30px;
        margin-left: 50px;
    }

    .p-texto-sobre-mim {
        font-size: 14px;
        margin-left: 50px;
    }

     .section-stacke{
        margin: 50px 0;
    }

    .h2-stack,.h2-portifolio{
        font-size: 30px;
        line-height: 30px;
    }

    .stack{
        width: 150px;
    }


    .section-portifolio{
        margin: 50px 0;
    }

    .ul-projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .caixa-certificados{
        grid-template-columns: repeat(1, 1fr);
    }

    .certificados{
        height: auto;
        width: auto;
    }


    .p-projeto,.p-texto-projeto{
        font-size: 10px;
        padding: 2px;
    }

    .a-projeto{
        font-size: 12px;
    }

    footer{
        font-size: 12px;
        height: auto;
        margin: 50px 50px 0 50px;
    }

    .email-diretoWhatsApp{
        right: 0;
    }

    .p-footer{
        width: 300px;
    }




}

@media(max-width:768px) {

    main{
        margin: 0 20px;
    }
 
.p-stack,.p-portifolio{
    font-size: 14px;
}

.h2-stack,.h2-portifolio{
    font-size: 30px;
    line-height: 30px;
}
.stack{
    
    width: 110px;
    height: auto;
    font-size: 10px;
}

.section-portifolio{
    height: auto;
}

.ul-projetos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

}

.section-cursos-certificados{
    height: auto;
}

.caixa-certificados {
    
    grid-template-columns: repeat(1, 2fr);
}

.img-certificadocertificados{
    width:auto;
}

footer{
    font-size: 12px;
    margin-top: 50px;
}
}

@media(max-width:415px) {

        .header-links {
        right: 0;
        font-size: 14px;
    }

    .p-frontEnd, .p-stack {
        font-size: 12px;
    }

        .nome-wesley {
        font-size: 40px;
        line-height: 40px;
    }

        .p-texto-esquerdo, .p-sobre-mim {
        font-size: 14px;
    }

        .btn-contato, .btn-curriculo {
        margin: 10px 0;
        width: 200px;
    }

        .foto-principal {
        width: 60vw;
    }

    .ul-projetos {
        grid-template-columns: repeat(2, 1fr);
    }

    .h2-certificado{
        font-size: 30px;
        line-height: 30px;
    }

        .a-certificado {
        font-size: 14px;
        right: 0;
    }

        .img-certificado {
        width: 140vw;
        
    }

    .h2-footer {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
    }

    .email-diretoWhatsApp {
        display: block;
        position: relative;
        right: 0;
        font-size: 12px;
        margin: 10px 0;
    }


    

}