* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 40%, rgb(51, 54, 53) 49%, rgba(0, 0, 0, 1) 62%);
}

main {

    margin: 0 50px;
 
}



header {

    width: 100%;
    height:auto ;
    display: flex;
   
}

section {
    display: flex;
    height: 100vh;

}


.p-header {

    display: flex;
    margin: 50px 0 0 20px  ;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.header-links {
    display: flex;
    position: absolute;
    right: 15%;
    font-size: 20px;
    margin-top: 45px;
}

.nav1 {
  
    text-decoration: none;
    color: #575757;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
  

}

.nav1:hover {
    color: white;
    transition: 0.5s;
}

.caixa-esquerda {
    width: 50%;
}

.p-frontEnd {
    font-family: "Geist Pixel", sans-serif;
    font-size: 15px;
    color: #575757;
    margin:30px 0;

}

.nome-wesley {
    font-size: 50px;
    line-height: 40px;
    font-weight: 400;
}

.p-texto-esquerdo {
    font-family: "Geist Pixel", sans-serif;
    font-size: 15px;
    color: #575757;
    margin: 20px 0;
}

.btn-contato,
.btn-curriculo {
    color: black;
    font-size: 12px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-weight: 700;
    width: 150px;
    padding: 10px;
    margin: 20px 0;
   
}

.btn-contato:hover {
    background: #000000;
    color: #ffffff;
    transition: 0.5s;
}

.btn-curriculo {
    background: #000000;
    color: #ffffff;
}

.btn-curriculo:hover {
    background: #ffffff;
    color: #000000;
    transition: 0.5s;
}


.foto-principal {
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 15px;

}

/* SOBRE MIM*/



.foto-sobre-mim {
    width: 250px;
    height: 250px;
    border-radius: 15px;

}

.p-sobre-mim {
    font-family: "Geist Pixel", sans-serif;
    font-size: 15px;
    color: #575757;
    margin: 0 50px;

}

.h2-sobre-mim {
    font-size: 30px;
    margin: 15px 50px;
    line-height: 30px;
    font-weight: 500;
}

.p-texto-sobre-mim {
    font-family: "Geist Pixel", sans-serif;
    width: 350px;
    font-size: 15px;
    color: #575757;
    margin: 15px 50px;
  

}

.ul-sobre-mim {
    
    display: flex;

}

.li-sobre-mim {

    margin: 15px 5px;
    list-style: none;
    font-size: 10px;
    text-align: initial;
    border-left: 1px solid #ffffff;
    font-weight: 400;
    text-align: center;

}

#id-li {
    font-family: "Geist Pixel", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #575757;
}


/*Meu stack*/


.section-stack {
    display: block;
   
}

.p-stack {

    font-family: "Geist Pixel", sans-serif;
    font-size: 15px;
    color: #575757;
}


.meus-stacks {
    display: grid;
    width: 75vw;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;


}

.stack {
    margin: 10px;
    border: 1px solid #ffffff;
    width: 150px;
    font-size: 12px;
    border-radius: 10px;
    list-style: none;
    padding: 15px;
    color: #4d4d4d;
    font-weight: 500;
    background: #131313;
   
}

#icon1 {

    font-family: "Geist Pixel", sans-serif;
    padding: 10px;
    background: rgb(81, 127, 164, 0.5);
    border-radius: 10px;

}

#icon2 {

    font-family: "Geist Pixel", sans-serif;
    padding: 5px;
    background: rgba(50, 216, 86, 0.5);
    border-radius: 10px;

}

#icon3 {

    font-family: "Geist Pixel", sans-serif;
    padding: 10px;
    background: rgba(250, 250, 27, 0.5);
    border-radius: 10px;

}

#icon4 {

    font-family: "Geist Pixel", sans-serif;
    padding: 10px;
    background: rgba(194, 108, 28, 0.5);
    border-radius: 10px;

}

#icon5 {

    font-family: "Geist Pixel", sans-serif;
    padding: 10px;
    background: rgba(194, 175, 28, 0.5);
    border-radius: 10px;

}

#icon6 {

    font-family: "Geist Pixel", sans-serif;
    padding: 10px;
    background: rgba(221, 221, 221, 0.5);
    border-radius: 10px;

}

#icon7 {

    font-family: "Geist Pixel", sans-serif;
    padding: 10px;
    background: rgba(255, 251, 251, 0.5);
    border-radius: 10px;

}

#stack1:hover {
    border-bottom: 2px solid rgb(4, 142, 255);
}

#stack2:hover {
    border-bottom: 2px solid rgb(17, 255, 4);
}

#stack3:hover {
    border-bottom: 2px solid rgb(255, 238, 0);
}

#stack4:hover {
    border-bottom: 2px solid rgb(252, 143, 0);
}

#stack5:hover {
    border-bottom: 2px solid rgb(204, 150, 34);
}

#stack6:hover {
    border-bottom: 2px solid rgb(62, 62, 62);
}


/*PORTIFOLIO PROJETO*/


.section-portifolio {
    display: block;
   
}


.p-portifolio {

    font-family: "Geist Pixel", sans-serif;
    font-size: 15px;
    color: #575757;

}

.h2-portifolio {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    margin: 20px;

}



.li-portifolio{
   
 list-style: none;
 border: #ffffff 1px solid;
 border-radius: 10px;
 width: 30%;
 
}

.image-li-portifolio{
    width: 30%;
    height: auto;
}

.ul-projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.projeto {
    margin-top: 10px;
    width: 200px;
    height: auto;
    list-style: none;
    border: 1.5px solid #ffffff;
    border-radius: 10px;

}

.img-projeto {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.p-projeto {
    font-family: "Geist Pixel", sans-serif;
    font-size: 10px;
    color: #575757;
    padding: 0px 5px;

}

.h2-projeto {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    padding: 0px 5px;

}

.p-texto-projeto {
    width: 100%;
    font-family: "Geist Pixel", sans-serif;
    font-size: 10px;
    color: #575757;
    padding: 0px 5px;
    margin-bottom: 10px;

}

.a-projeto {
    text-decoration: none;
    padding: 0px 5px;
    border: 1px solid white;
    border-radius: 15px;
}

#a-projeto1 {
    margin-left:5px;
}

.bnt-projeto,
.bnt-projeto2 {
    color: #000000;
    padding: 0px 5px;
    border-radius: 15px;
    margin: 15px 0;
    width: 70px;
    cursor: pointer;

}

.bnt-projeto {
    margin-left: 15px;
}


.bnt-projeto2:hover {
    background: #000000;
    color: #ffffff;
}


/*

.section-cursos-certificados {
    display: block;
    padding: 0 50px;
    width: 30vw;
   

}



.p-certificado {
    font-family: "Geist Pixel", sans-serif;
    font-size: 20px;
    color: #575757;
    padding: 0px 15px;

}


.h2-certificado {
    font-size: 50px;
    padding: 10px;
    line-height: 50px;
    font-weight: 500;
}


.caixa-certificados {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-items: center;
    align-items: center;
  


}

.certificados {
    margin: 15px 5px;
    list-style: none;

}

.img-certificado {

    padding: 2px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 40vw;
    height: 45vh;
    margin-bottom: 15px;
}

.a-certificado {
    border: 1px solid white;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
 
    
}

.a-certificado:hover{
    color: #000000;
    background: #ffffff;
}