*{
     font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background: linear-gradient(45deg,rgba(0, 0, 0, 1) 40%, rgb(51, 54, 53) 49%, rgba(0, 0, 0, 1) 62%);
}

header{

 width: 100%;
 height: auto;
 display: flex;
 padding: 50px 30px 10px 100px;
 
   
}

.section1{
    height: 100vh;
}


.p-header{
    
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
 
}

.header-links{
    display: flex;
    position: absolute;
    right: 10%; 
    padding: 15px 0;

}

.nav1{
    margin: 0 10px;
    text-decoration: none;
    color: #575757;
    font-weight: bold;
    font-size: 12px;
   
} 
.nav1:hover{
    color: white;
    transition: 0.5s;
}  

section{
    display: flex;

}

.caixa-esquerda{
  
    margin-top: 30px;
    width: 50%;
    
    
}

.p-frontEnd{
    font-family: "Geist Pixel", sans-serif;
    font-size: 14px;
    padding: 0 100px;
    color: #575757;
   
}
.nome-wesley{
    font-size: 100px;
    padding: 25px 100px;
    line-height:80px;
    font-weight: 400;
}

.p-texto-esquerdo{
    font-family: "Geist Pixel", sans-serif;
    font-size: 20px;
    padding: 0 100px;
    padding: 10px 100px;
    color: #575757;
    
   
   
}

.btn-contato, .btn-curriculo{
  color: black;
  width: 250px;
  font-size: 14px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
  margin: 50px 10px;
}

.btn-contato{
    margin-left: 100px;
    
}

.btn-contato:hover{
    background: #000000;
    color: #ffffff;
     transition: 0.5s;
}

.btn-curriculo{
    background: #000000;
    color: #ffffff;
}
.btn-curriculo:hover{
    background: #ffffff;
    color: #000000;
     transition: 0.5s;
}


.foto-principal{
    width: 500px;
    height: 400px;
    margin: 50px;
    border-radius: 15px;
    
}

.section-sobre-mim{
    height: 100vh;
}

.foto-sobre-mim{
    width: 400px;
    height: 400px;
    margin: 50px;
    border-radius: 15px;
    
}

.p-sobre-mim{
    font-family: "Geist Pixel", sans-serif;
    font-size: 14px;
    padding: 0 100px;
    color: #575757;
   
}

.h1-sobre-mim{
    font-size: 50px;
    padding: 15px 100px;
    line-height:50px;
    font-weight: 500;
}

.p-texto-sobre-mim{
    font-family: "Geist Pixel", sans-serif;
    font-size: 20px;
    padding: 10px 100px;
    color: #575757;

}

.ul-sobre-mim{
    padding: 15px 100px;
    display: flex;
   
}

.li-sobre-mim{
    
    margin: 2px;
    list-style: none;
    width: 180px;
    font-size: 15px;
    padding: 10px;
    text-align: initial;
    border-left: 1px solid #ffffff;
    font-weight: 500;
   
}

#id-li{
     font-family: "Geist Pixel", sans-serif;
    font-size: 10px;
    padding: 0 100px;
    color: #575757;
}



